name: Deploy React to GitHub Pages

on:
  push:
    branches: [ main ]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # use Node 16 (more stable with CRA 17 projects)
      - name: Use Node.js 16
        uses: actions/setup-node@v4
        with:
          node-version: 16

      # install even if peer deps don't match (React 17 vs testing lib 18)
      - name: Install deps
        run: npm install --legacy-peer-deps

      - name: Build
        run: npm run build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build
          publish_branch: gh-pages
